<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhe.spid.fil.mapper.FilAwbInfoMapper">

    <select id="queryListTest" parameterType="com.yuhe.spid.fil.entity.FilAwbInfoEntity" resultType="com.yuhe.spid.fil.entity.FilAwbInfoEntity">
        select * from t_fil_awbinfo where stockTypeId = #{stockTypeId} and stockPre = #{stockPre}
    </select>

    <update id="updateCreateTime" parameterType="com.yuhe.spid.fil.entity.FilAwbInfoEntity">
        update t_fil_awbInfo set productId = #{productId}, cargoNm = #{cargoNm}, crtOpeTime = sysdate
        where stockTypeId = #{stockTypeId} and stockPre = #{stockPre} and stockNo = #{stockNo}
    </update>
</mapper>